body {
    font-family: Arial, Helvetica, sans-serif;
}

body,
html {
    margin: 0;
    padding: 0;
}

#game_view {
    width: 100vw;
    height: 100vh;

    background: #050;
    padding: 0;
    box-sizing: border-box;

    overflow: clip;
}

#game_header {
    width: 100%;
    height: 50pt;
    background: #00000055;
    overflow: clip;
    display: flex;
}


#game_footer {
    width: 100%;
    height: 50pt;
    background: #00000055;
    overflow: clip;
    display: flex;
}

#game_main {
    width: 100%;
    height: calc(100% - 100pt);
    overflow: clip;
}

#game_box {
    max-width: 100%;
    max-height: 100%;
    aspect-ratio: 1.6;
    margin: auto;
    background: #00000011;
    position: relative;
}

#top_row {
    width: 100%;
    height: 25%;
    background: #00000011;

}


#game_header>div {
    background-color: DodgerBlue;
    color: white;
    width: 200px;
    margin: 5px;
    text-align: center;
    line-height: 60px;
    font-size: 30px;
}

.card,
#deal {
    position: absolute;
    height: 20%;
    aspect-ratio: 2.5/3.5;
    perspective: 1000px;
    filter: drop-shadow(0 0 5px #0009);
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

#deal {
    top: 2.5%;
    left: 2%;
    border-radius: 10%/calc(10% * 2.5/3.5);
    overflow: clip;
    filter: drop-shadow(0 0 10px #0009);
}


/* 
.card:hover .card_inner {
    transform: rotateY(180deg);
} */


.flipped {
    transform: rotateY(-180deg);
}

.card_inner {
    position: absolute;
    width: 100%;
    height: 100%;

    background-color: white;
    border-radius: 10%/calc(10% * 2.5/3.5);

    /* transition: transform 0.3s; */
    transform-style: preserve-3d;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}

.card_front,
.card_back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card_back {
    background-color: #c93741;
    border-radius: 10%/calc(10% * 2.5/3.5);
    transform: rotateY(180deg);
    overflow: clip
}

.red_card {
    color: #901;
}

.black_card {
    color: #001;
}


.card_header,
.card_footer {
    width: 100%;
    height: 25%;
    container-type: size;
    line-height: 100%;
    padding: 10% 7% 0% 7%;
    box-sizing: border-box;
}

.card_body {
    width: 100%;
    height: 50%;
    display: flex;
    container-type: size;
}

.card_footer {
    transform: rotate(180deg);
}

.card_body>span {
    width: 100%;
    margin: auto;
    text-align: center;
    line-height: 100%;
    font-size: 60cqw;
    font-weight: 100;
    margin: 0;
}

.card_header>span {
    font-size: 20cqw;
}

.card_footer>span {
    font-size: 20cqw;
}


.draggable {
    position: absolute;
}

.card_body,
.card_header,
.card_footer>span {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}


/* stack */

#stack {
    display: flex;
    position: absolute;
    left: 40%;
    right: 2.5%;
    top: 2.5%;
    bottom: 77%;
    justify-content: space-between;
}

#stack>div {
    height: 100%;
    aspect-ratio: 2.5/3.5;
    background-color: #0012;
    border-radius: 10%/calc(10% * 2.5/3.5);

    border-style: solid;
    border-width: 5px;
    border-color: #631;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}