* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.card,
#deal {
  touch-action: none;
}

#deal,
#waste {
  position: relative;
}

body,
html {
  margin: 0;
  padding: 0;
}

#game_view {
  width: 100vw;
  height: 100vh;

  background: #050;
  padding: 0;

  overflow: clip;
}

#game_header {
  width: 100%;
  height: 50pt;
  background: #00000055;
  overflow: clip;
  display: flex;
}

#game_footer {
  width: 100%;
  height: 50pt;
  background: #00000055;
  overflow: clip;
  display: flex;
}

#game_main {
  width: 100%;
  height: calc(100% - 100pt);
  overflow: clip;
}

#game_header > div {
  background-color: DodgerBlue;
  color: white;
  width: 200px;
  margin: 5px;
  text-align: center;
  line-height: 60px;
  font-size: 30px;
}

#deal {
  background-image: url("../images/back.svg");
  background-size: 100%;
  box-shadow: 0 0 10px #000d;
}

.card {
  position: absolute;
  height: 100%;
  width: 100%;
  perspective: 1000px;

  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  box-shadow: 0 0 5px #0009;

  /* -webkit-backface-visibility: hidden; */
  /* backface-visibility: hidden; */

  overflow: clip;
}

.flipped > .card_front {
  visibility: hidden;
}

.flipped > .card_back {
  visibility: visible;
}

.card_inner {
  position: absolute;
  width: 100%;
  height: 100%;
}
.card_back {
  visibility: hidden;
}

.card_front,
.card_back {
  position: absolute;
  width: 100%;
  height: 100%;
}

.card_front {
  /* transform: rotateY(0deg); */
  background-color: #fff;
  background-size: 100%;
}

.card_back {
  /* transform: rotateY(180deg); */
  background-image: url("../images/back.svg");
  background-size: 100%;
}

#game_box {
  max-width: 100%;
  max-height: 100%;
  aspect-ratio: 1.1;
  margin: auto;
  background: #00000011;
  position: relative;
}

#game_grid {
  width: 100%;
  height: 100%;
  position: absolute;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 5% 20% 5% 20%;
}

.top {
  grid-row: 2;
}

.tableau {
  grid-row: 4;
}

#game_grid > div {
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  aspect-ratio: 2.5/3.5;
}

.tableau,
.stack {
  position: relative;
  background-color: #0012;

  outline-style: solid;
  outline-width: 3px;
  outline-color: #f75;
  outline-offset: -3px;
}

.card,
#deal,
.tableau,
.stack {
  border-radius: 1.2vh;
}

@media (min-aspect-ratio: 3/4) {
  #game_box {
    aspect-ratio: 1.6;
  }
}
