* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.card,
#deal {
  touch-action: none;
}

body,
html {
  margin: 0;
  padding: 0;
}

#game_view {
  width: 100vw;
  height: 100vh;

  background: #050;
  padding: 0;

  overflow: clip;
}

#game_header {
  width: 100%;
  height: 50pt;
  background: #00000055;
  overflow: clip;
  display: flex;
}

#game_footer {
  width: 100%;
  height: 50pt;
  background: #00000055;
  overflow: clip;
  display: flex;
}

#game_main {
  width: 100%;
  height: calc(100% - 100pt);
  overflow: clip;
}

#game_box {
  max-width: 100%;
  max-height: 100%;
  aspect-ratio: 1.1;
  margin: auto;
  background: #00000011;
  position: relative;
}

#game_header > div {
  background-color: DodgerBlue;
  color: white;
  width: 200px;
  margin: 5px;
  text-align: center;
  line-height: 60px;
  font-size: 30px;
}

#top_row {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: space-evenly;

  background: #040;

  padding-top: 2.5%;
  padding-bottom: 2.5%;
  box-sizing: content-box;
}

#top_row > div {
  height: 100%;
  aspect-ratio: 2.5/3.5;
}

.stack {
  background-color: #0012;

  border-style: solid;
  border-color: #631;
}

#deal {
  background-image: url("../images/back.svg");
  background-size: 100%;
  box-shadow: 0 0 10px #000d;
}

.card {
  position: absolute;
  height: 20%;
  aspect-ratio: 2.5/3.5;
  perspective: 1000px;

  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  box-shadow: 0 0 5px #0009;
  overflow: clip;
}

.flipped {
  transform: rotateY(-180deg);
}

.card_inner {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.card_front,
.card_back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card_front {
  background-color: #fff;
  background-size: 100%;
}

.card_back {
  transform: rotateY(180deg);
  background-image: url("../images/back.svg");
  background-size: 100%;
}

#tableau {
  display: flex;
  position: absolute;
  justify-content: space-evenly;
  height: 20%;
  width: 100%;
  margin-top: 2.5%;
}

#tableau > div {
  height: 100%;
  aspect-ratio: 2.5/3.5;
  background-color: #0012;

  border-style: solid;
  border-width: 2px;
  border-color: #f75;
}

.card,
#deal,
#tableau > div,
.stack {
  border-radius: 1cqh;
}

@media (min-aspect-ratio: 3/4) {
  #game_box {
    aspect-ratio: 1.6;
  }
}
